body {
  font-family: 'Poppins', sans-serif;
}
header {
  background-image: url("../img/themartian2.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  padding: 0 40px;
}
header .navbar {
  border: none;
  background-color: transparent;
}
header .navbar .nav {
  margin-left: 120px;
  margin-top: 30px;
}
header .navbar .nav li {
  padding: 0 30px;
  display: inline;
}
header .navbar .nav li a {
  list-style: none;
  text-transform: uppercase;
  color: #fff;
}
header .navbar .nav li a:hover {
  color: #d3b521;
  text-decoration: none;
  background-color: transparent;
}
header .navbar .profile {
  margin-top: 28px;
  list-style: none;
}
header .navbar .profile li {
  display: inline;
}
header .navbar .profile li img {
  width: 40%;
}
header .navbar .profile li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 20px;
  margin-top: 20px;
}
header .navbar .profile li a:hover {
  color: #000000;
}
header .title {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  text-transform: uppercase;
  color: #fff;
  height: 400px;
}
header .title h3 {
  font-size: 60px;
  font-weight: bolder;
}
header .title a {
  font-size: 12px;
  text-decoration: none;
  margin-right: 30px;
  color: #fff;
}
header .title .trailer-btn {
  background: #d3b521;
  border-radius: 999px;
  color: #000000;
  display: inline-block;
  padding: 20px 25px;
  font-size: 16px;
  text-align: center;
  text-shadow: none;
  border: none;
  margin-top: 15px;
}
header .title p {
  margin-top: 100px;
  text-transform: none;
}
header .title p span {
  color: #E9C640;
  font-size: 20px;
}
.selection {
  background-color: #fff;
  position: relative;
  margin-top: -50px;
}
.selection .box {
  box-shadow: 0px 15px 37px -9px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.selection .box h4 {
  text-transform: uppercase;
}
.selection .box img {
  margin: 20px 0;
  padding: 0;
}
.selection .box a {
  color: #CAA72A;
  text-decoration: none;
  font-size: 12px;
}
.selection .box i {
  padding: 20px 10px;
  background: -webkit-linear-gradient(top, red, #000000);
  background: linear-gradient(top, red, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.selection .box i span {
  padding: 0 10px;
  color: #000000;
}
.selection .filters i {
  color: #000000;
}
.selection .navbar ul {
  padding: 20px;
}
.selection .navbar ul li {
  display: inline;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 28px;
}
.selection .navbar ul li a {
  color: #000000;
}
.selection .navbar button {
  margin-top: 25px;
  padding: 10px 20px;
  background: #d3b521;
  border: none;
  border-radius: 15px;
  color: #fff;
}
.selection .navbar button span {
  padding-left: 12px;
}
.selection .also {
  text-align: center;
  color: #d3b521;
}
.selection .also i {
  margin: 60px 0;
}
footer .mid i {
  margin: 20px;
  font-size: 30px;
  color: #b3b3b3;
}
footer .inc {
  color: #b3b3b3;
  padding-top: 35px;
}
footer .also {
  text-align: center;
}
footer .also a {
  color: #d3b521;
  text-decoration: none;
  font-weight: bold;
}
