.input-group .search {
  border: none;
  border-bottom: 1px solid #b3b3b3;
  padding: 7px;
}
.input-group .search:focus {
  outline: none;
}
.input-group .btn {
  background-color: transparent;
  color: #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
}
body {
  font-family: 'Poppins', sans-serif;
}
header {
  background-image: url("../img/themartian2.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  padding: 0 40px;
}
header .navbar {
  border: none;
  background-color: transparent;
}
header .navbar .nav {
  margin-left: 120px;
  margin-top: 30px;
}
header .navbar .nav li {
  padding: 0 30px;
  display: inline;
}
header .navbar .nav li a {
  list-style: none;
  text-transform: uppercase;
  color: #fff;
}
header .navbar .nav li a:hover {
  color: #d3b521;
  text-decoration: none;
  background-color: transparent;
}
header .navbar .profile {
  margin-top: 28px;
  list-style: none;
}
header .navbar .profile li {
  display: inline;
}
header .navbar .profile li img {
  width: 40%;
}
header .navbar .profile li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 20px;
  margin-top: 20px;
}
header .navbar .profile li a:hover {
  color: #000000;
}
header .title {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  text-transform: uppercase;
  color: #fff;
  height: 400px;
}
header .title h3 {
  font-size: 60px;
  font-weight: bolder;
}
header .title a {
  font-size: 12px;
  text-decoration: none;
  margin-right: 30px;
  color: #fff;
}
header .title .trailer-btn {
  background: #d3b521;
  border-radius: 999px;
  color: #000000;
  display: inline-block;
  padding: 20px 25px;
  font-size: 16px;
  text-align: center;
  text-shadow: none;
  border: none;
  margin-top: 15px;
}
header .title p {
  margin-top: 100px;
  text-transform: none;
}
header .title p span {
  color: #E9C640;
  font-size: 20px;
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  header {
    padding: 0 5px;
  }
  header .navbar img {
    width: 50%;
  }
  header .navbar .nav {
    font-size: 11px;
  }
  header .navbar .nav li a {
    list-style: none;
    text-transform: uppercase;
    color: #fff;
  }
  header .navbar .nav li a:hover {
    color: #d3b521;
    text-decoration: none;
    background-color: transparent;
  }
  header .navbar .profile {
    margin-top: 28px;
    list-style: none;
  }
  header .navbar .profile li {
    display: inline;
  }
  header .navbar .profile li img {
    width: 40%;
  }
  header .title {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
  header .title .trailer-btn {
    padding: 15px 20px;
    font-size: 12px;
    margin-top: 15px;
  }
}
.selection {
  background-color: #fff;
  position: relative;
  margin-top: -50px;
}
.selection .box {
  box-shadow: 0px 15px 37px -9px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  position: relative;
}
.selection .box h4 {
  text-transform: uppercase;
}
.selection .box img {
  margin: 20px 0;
  padding: 0;
}
.selection .box a {
  color: #CAA72A;
  text-decoration: none;
  font-size: 12px;
}
.selection .box i {
  padding: 20px 10px;
}
.selection .box i span {
  padding: 0 10px;
  color: #000000;
}
.selection .box:after {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent #D3B521 transparent;
  content: "";
  position: absolute;
  bottom: 0;
  right: 2px;
  z-index: 2;
}
.selection .box:before {
  content: "+";
  color: #fff;
  font-size: 18;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 3px;
  z-index: 5;
  padding-bottom: 5px;
  padding-right: 8px;
}
.selection .filters i {
  color: #b3b3b3;
}
.selection .navbar ul {
  padding: 20px;
}
.selection .navbar ul li {
  display: inline;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 28px;
}
.selection .navbar ul li a {
  color: #000000;
}
.selection .navbar button {
  margin-top: 25px;
  padding: 10px 20px;
  background: #d3b521;
  border: none;
  border-radius: 15px;
  color: #fff;
}
.selection .navbar button span {
  padding-left: 12px;
}
.selection .input .search {
  border: none;
  border-bottom: 1px solid #b3b3b3;
  padding: 7px;
}
.selection .input .search:focus {
  outline: none;
}
.selection .input .btn {
  background-color: transparent;
  color: #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
}
.selection .also {
  text-align: center;
  color: #d3b521;
}
.selection .also i {
  margin: 60px 0;
}
footer .mid i {
  margin: 20px;
  font-size: 30px;
  color: #b3b3b3;
}
footer .inc {
  color: #b3b3b3;
  padding-top: 35px;
}
footer .also {
  text-align: center;
}
footer .also a {
  color: #d3b521;
  text-decoration: none;
  font-weight: bold;
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .selection .navbar {
    margin-top: 15px;
  }
  .selection .navbar ul {
    padding: 0;
  }
  .selection .navbar ul li {
    text-transform: uppercase;
    padding: 0 1px;
    font-size: 14px;
  }
  .selection .navbar ul li a {
    color: #000000;
  }
  .selection .navbar button {
    margin-top: 10px;
    padding: 7px 16px;
    background: #d3b521;
    border: none;
    border-radius: 50px;
    color: #fff;
    float: right;
    margin-right: 5px;
  }
  .selection .navbar button span {
    padding-left: 6px;
  }
  .selection .also {
    text-align: center;
    color: #d3b521;
  }
  .selection .also i {
    margin: 60px 0;
  }
}
