@yellow: #d3b521;
@darkyellow: darken(@yellow, 60%);
@black: #000000;
@gray: lighten(@black, 70%);

body {
	font-family: 'Poppins', sans-serif;
}

header {
	background-image: url("../img/themartian2.jpg");
	background-repeat: no-repeat;
	background-position: cover;
	padding: 0 40px;
	.navbar{
		border: none;
		background-color: transparent;
		.nav {
			margin-left: 120px;
			margin-top: 30px;
			li {
				padding: 0 30px;
				display: inline;
				a {
				list-style: none;
				text-transform: uppercase;
				color: #fff;
				&:hover {
					color: @yellow;
					text-decoration: none;
					background-color: transparent;
					}
				}
			}
		}
		.profile {
			margin-top: 28px;
			list-style: none;
			li {
				display: inline;
				img {
					width: 40%;
				}
				a {
				color: #fff;
				text-decoration: none;
				font-size: 18px;
				padding: 20px;
				margin-top: 20px;
				&:hover {
					color: @darkyellow;
					}
				}	
			}
		}
	}

	.title {
		margin-top: 10%;
		margin-left: 10%;
		margin-right: 10%;
		text-transform: uppercase;
		color: #fff;
		height: 400px;
		h3 {
			font-size: 60px;
			font-weight: bolder;
		}
		a {
			font-size: 12px;
			text-decoration: none;
			margin-right: 30px;
			color: #fff;
		}
		.trailer-btn{		
			background: @yellow;
			border-radius: 999px;
			color: #000000;
			display: inline-block;
			padding: 20px 25px;
			font-size: 16px;
			text-align: center;
			text-shadow: none;
			border: none;
			margin-top: 15px;
		}
		p {
			margin-top: 100px;
			text-transform: none;
			span {
				color: #E9C640;
				font-size: 20px;
			}
		}
	}
}

.selection {
	background-color: #fff;
	position: relative; 
	margin-top: -50px;
	.box {
		box-shadow: 0px 15px 37px -9px rgba(0,0,0,0.40);
		border-radius: 10px;
		h4 {
			text-transform: uppercase;
		}
		img {
			margin: 20px 0;
			padding: 0;
		}
		a {
			color: #CAA72A;
			text-decoration: none;
			font-size: 12px;
		}
		i {
			padding: 20px 10px;
				background: -webkit-linear-gradient(top, red, #000000);
	background: linear-gradient(top, red, #000000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

			span {
				padding: 0 10px;
				color: #000000;
			}
		}
	}
	.filters {
		i {
			color: @darkyellow;
		}
	}
	.navbar {
		ul {
			padding: 20px;
			li {
				display: inline;
				text-transform: uppercase;
				text-decoration: none;
				padding: 0 28px;
				a {
					color: #000000;
				}
			}
		}

		button {
			margin-top: 25px;
			padding: 10px 20px;
			background: @yellow;
			border: none;
			border-radius: 15px;
			color: #fff;
			span {
				padding-left: 12px;
			}
		}
	}
	.also {
		text-align: center; 
		color: @yellow;
		i {
			margin: 60px 0;
		}
	}
}

footer {
	.mid {
		i {
			margin: 20px;
			font-size: 30px;
			color: @gray;
		}	
	}
	.inc {
		color: @gray;
		padding-top: 35px;
	}

	.also {
		text-align: center; 
		a {
		color: @yellow;
		text-decoration: none;
		font-weight: bold;
		}
	}
}